body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row {
  display: flex;
  flex-direction: row;
}
.tableblock{
  border: 1px solid black;
  width: 25%;
  padding: 20px;
}
.tableblock2{
  border: 1px solid black;
  width: 5%;
  padding: 20px;
}
.margin {
  margin-top: 40px;
}

.padding {
  padding-top : 20px;
}

.espace {
  margin-left : 20%;
  height : 40px;
}